*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    display: flex;
}

.hero{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

.hero-banner{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.content{
    width: 50%;
    height: 100%;
    background-color: red;
}

.banner-img{
    width: 50%;
    height: 100%;
    background-color: green;
}

.head-label{
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.prof-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.prof-card{
    width: 30%;
    height: 280px;
    background-color: rgb(3, 168, 205);
    margin: 0px 10px 10px 0px;
}

.asst-prof-card{
    width: 30%;
    height: 280px;
    background-color: rgb(195, 3, 205);
    margin: 0px 10px 10px 0px;
}