*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    display: flex;
}

.side-bar{
    background-color: blue;
    width: 20%;
    height: 100vh;
}

.main{
    min-height: 100vh;
    display: flex;
    flex: auto;
    flex-direction: column;
}

.header{
    max-height: 80px;
    flex: 1;
    background-color: yellow;
}

.content{
    width: 90%;
    align-self: center;
    background-color: red;
    min-height: 80vh;
    margin-top: 40px;
}